<div class="container">
  <div class="begining">
    <h1>Forms</h1>
  </div>
  
  <table>

  <div class="headers">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Tlf</th>
          <th>Dirección</th>
          <th>5kg</th>
          <th>10kg</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    </div>
  <div class="form">
    <tbody>
     <% @forms.each do |form| %>
       <tr>
         <td><%= form.name %></td>
         <td><%= form.phone %></td>
         <td><%= form.address %></td>
          <td><%= form.five %></td>
          <td><%= form.ten %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</table>

  <div class="container ending">
  <h3>paragrah to explain</h3>
  </div>

</div>