<div class="container app maxywidth">
  <div class="begining">
    <div class="container textywonder">
          <strong>Lista de Espera</strong><br>
          <span>Consigue 50% de descuento en nuestro primer pedido del año</span>
    </div>
  </div>
  
  <table class="headtables">

  <div class="headerss undernombre">
          <th>Nombres</th>
  </div>
  <div class="form set-height">
    <tbody>
     <% @forms.each do |form| %>
       <tr>
         <td> 
         <div class="container set-me">
         <div class="row titles set-height">
            <div class="col-6 nombress"> <%= form.nombre %></div>
            <div class="col-3 avatary"> <%= image_tag("naranja.png", style: 'height:45px;width:80px;') %></div>
            <div class="col-3 imagekilos"> <%= image_tag("scale10kg.png", style: 'height:59px;width:80px;')%></div>        
        </div>  
          </div>
      


        </tr>
      <% end %>
    </tbody>
  </div>
</table>

      <div class="signup container">
        <%= simple_form_for(@form) do |f|%>
        <div class="row">
          <div class="col-6">
         <%= f.input :nombre %>
          </div>
         <div class="col-6">
         <%= f.input :tlf%>
          </div>
        </div>

        <div class="row one">
          <div class="col-2 form-inline pickadate">
          <%= f.input :cinco, :hint => "5kg",:label => false %>

          <%= f.input :diez, :hint => "10kg", :label => false %>
          </div>
          <div class="col-10">
          <%= f.input :direccion, :placeholder => 'Direccíon', :label => false %>
          </div>
        </div>


         <div class="row pregunta">
            <p>Que es lo que mas te atrai...</p>
         </div> 

         <div class="row titles">
            <div class="col-3">los arboles</div>
            <div class="col-3">la lluvia</div>
            <div class="col-3">el mar</div>
            <div class="col-3">la nieve</div>
         </div>

         <div class="row ppictures align-content-center">
            <div class="col-3"><%= image_tag("arbolavatar.png", style: 'height:140px;width:90px;') %></div>
            <div class="col-3"><%= image_tag("lluvia.png", style: 'height:120px;width:55px;') %></div>
            <div class="col-3"><%= image_tag("ocean.png", style: 'height:120px;width:60px;') %></div>
            <div class="col-3"><%= image_tag("tinvierno.png", style: 'height:130px;width:60px;') %></div>
         </div>
        <div class="row lastone ">
        <%= f.button :button, "Apuntame", type: "submit", class: "subb btn-dark col-12" %>
        </div>
        <% end %>
      </div>    

  <div class="container lasty">
    <%= image_tag("n1.png", style: 'height:450px;width:450px;') %>
  </div>
</div>